.card {
    margin: 0 auto;
    float: none;
}

.payment {
    width: 38rem;
    height: 23rem;
    /* margin-left: 60px; */
}

h4 {
    margin-bottom: 50px;
}

input.nomorkartu {
    width: 100%;
}

input.quantity {
    width: 20%;
    margin-left: 30px;
}